{% extends "/layout.html" %}

{% block title -%}
Main
{%- endblock %}

{% block head -%}
  {{ super() }}

  <div id="map" style="width:100%;height:350px;"></div>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b84c5817e861d4d26e3cd3756f68db28&libraries=services"></script>
  <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 3 // 지도의 확대 레벨
        };
  
    // let js1 = {{ data | tojson }};
            
    // let newList = [];

    // for (let i = 0; i < js1.length; i++) {
    //   let seoul_info = JSON.parse(js1[i]);
    //   newList.push(seoul_info);
    // }
    var positions = [
      {
      title: '우리집',
      address: '서울시 광진구 영화사로11길 6'
      }
    ];
    
    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);
  
    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();
  
    // var positions = seoul_info; // 이게 중요한 거임 알아두셈
  
    // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
    var bounds = new kakao.maps.LatLngBounds(); //추가한 코드
  
    positions.forEach(function (position) {
      // 주소로 좌표를 검색합니다
      geocoder.addressSearch(position.address, function(result, status) {
  
        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {
  
          var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
  
          // 결과값으로 받은 위치를 마커로 표시합니다
          var marker = new kakao.maps.Marker({
            map: map,
            position: coords
          });
          marker.setMap(map); //추가한 코드
  
          // LatLngBounds 객체에 좌표를 추가합니다
          bounds.extend(coords); //추가한 코드, 현재 코드에서 좌표정보는 point[i]가 아닌 coords이다.
  
          // 인포윈도우로 장소에 대한 설명을 표시합니다
          var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">' + position.title + '</div>'
          });
          infowindow.open(map, marker);
  
          // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
          // map.setCenter(coords); //제거한 코드
          setBounds(); //추가한 코드
        }
      });
    });
    function setBounds() { //추가한 함수
      // LatLngBounds 객체에 추가된 좌표들을 기준으로 지도의 범위를 재설정합니다
      // 이때 지도의 중심좌표와 레벨이 변경될 수 있습니다
      map.setBounds(bounds);
    }
  </script>
{% endblock %}

{% block footer %}
  {{super()}}
{% endblock %}